<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
     <link rel=stylesheet href="./css/style.css" type="text/css">
     <link rel="icon" href="./assets/favicon.png">
     <title>Request Loans</title>
</head>
<body>

     <div id="app">

     <!------------------------------- Preloader ------------------------------->
     <div v-if="charging==true" class="main-preloader container">
          <div class="row">
               <div id="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="lading"></div>
               </div>
          </div>
     </div>

     <!------------------------------- HEADER ------------------------------->
     <header v-if="charging==false" class="header">
          <nav class="navbar navbar-expand-lg px-5 col-12">
               <div class="container-fluid px-0">
                    <!------------- Brand Nav ------------->
                    <a class="navbar-brand" href="#">
                         <p class="h4"><span class="purple_bold">Mind</span>Hub Bank</p>
                    </a>
                    <!------------- Burguer Button ------------->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <line x1="4" y1="6" x2="20" y2="6" />
                              <line x1="4" y1="12" x2="20" y2="12" />
                              <line x1="4" y1="18" x2="20" y2="18" />
                              </svg>
                         </span>
                    </button>
                    <!------------- Nav Links ------------->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5">
                              <li class="nav-item">
                                   <a class="nav-link mx-3" href="./accounts.html">Accounts & Loans</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link underline-hover-effect mx-3" href="./cards.html">Cards</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link underline-hover-effect mx-3" href="./transfers.html">Transfers</a>
                              </li>
                         </ul>
                         <!------------- Logout Button ------------->
                         <p class="user-name">Hi {{client.first_name}} {{client.last_name}}!
                         <button class="btn-black d-flex align-items-center gap-2" v-on:click="logout()">
                              Logout?
                         </button>
                         </p>
                    </div>
               </div>
          </nav>
     </header>
     

     <!------------------------------- MAIN ------------------------------->
     <main v-if="charging==false">
          <div class="stripe-header">
               <h3>Apply for</h3>
               <h3>a new <span class="bold">Loan</span></h3>
          </div>

          <div id="loan-app-stripe">
                    <div id="loan-app-left-container">
                         <div>
                              <p class="h4 mb-4">Please choose the desired loans.</p>
                         </div>   
                         <form>
                              <div v-for="loan in available_loans" class="loan-app-checkbox-container">
                                   <!------------- Mortage Checkbox ------------->     
                                   <div v-if="loan.name == 'Mortgage'">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                             <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                             <polyline points="5 12 3 12 12 3 21 12 19 12" />
                                             <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                             <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                        </svg>
                                        <input type="radio" name="loan_type" :value="loan.id" v-model="loan_selected" v-on:change="filtro()">
                                        <label for="html" class="mx-2"><span class="bold">{{loan.name}}</span> <span class="small fst-italic max-amount">(*Max. permited ${{loan.maxAmount}})</span></label>
                                   </div>
                                   <!------------- Automotive Checkbox ------------->  
                                   <div v-if="loan.name == 'Automotive'">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                             <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                             <circle cx="7" cy="17" r="2" />
                                             <circle cx="17" cy="17" r="2" />
                                             <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                                        </svg>
                                        <input type="radio" name="loan_type" :value="loan.id" v-model="loan_selected" v-on:change="filtro()">
                                        <label for="html" class="mx-2"><span class="bold">{{loan.name}}</span> <span class="small fst-italic max-amount">(*Max. permited ${{loan.maxAmount}})</span></label>
                                   </div>
                                   <!------------- Personal Checkbox -------------> 
                                   <div v-if="loan.name == 'Personal'">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                             <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                             <circle cx="12" cy="12" r="9" />
                                             <circle cx="12" cy="10" r="3" />
                                             <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                        </svg>
                                        <input type="radio" name="loan_type" :value="loan.id" v-model="loan_selected" v-on:change="filtro()">
                                        <label for="html" class="mx-2"><span class="bold">{{loan.name}}</span> <span class="small fst-italic max-amount">(*Max. permited ${{loan.maxAmount}})</span></label>
                                   </div>
                              </div>
                              <!------------- Payments Select ------------->
                              <div>
                                   <label class="pt-3">Enter the number of payments.<span class="text-danger">*</span></label>
                                   <select class="w-100 mt-1" v-model="payment_selected" required>
                                        <option selected>None</option>
                                        <option v-for="payment in loan_payments" selected>{{payment}}</option>
                                   </select>
                              </div>
                              <!------------- Amount Input ------------->
                              <label class="pt-3">Enter the desired amount.<span class="text-danger">*</span></label>
                              <input type="number" class="w-100 mt-1" placeholder="$100.000" v-model="amount" step="1000" min="0" max="1000000" required></input>
                              <!------------- Destination Select ------------->
                              <div>
                                   <label class="pt-3">Destination Account.<span class="text-danger">*</span></label>
                                   <select class="w-100 mt-1" v-model="destination_account">
                                        <option value="" selected>Destination Account</option>
                                        <option v-for="account in currentClientAccounts.sort((a, b) => {return a.id - b.id;})">{{account.accountNumber}}</option>
                                   </select>
                              </div>
                              <!------------- Description Input ------------->
                              <label class="pt-3">Enter a small description.</label>
                              <input type="text" name="" id=""  class="w-100 mt-1" placeholder="work fees" v-model="description" required>
                         </form>
                         <!------------- Calculator ------------->
                         <div>
                              <div id="calculator">
                                   <h6 class="card-title calculator-title">According to your preferences.</h6>
                                   <p class="card-text small">Calculate your payments with taxes included.</p>
                                   <div>
                                        <p class="card-text small">Future payments: <span class="purple_italic">${{taxes}}</span></p>
                                        <button class="btn-black" v-on:click="calculateTaxes()">Calculate</button>
                                   </div>
                              </div>
                         </div>
                         <button type="button" class="btn-black" v-on:click="confirmLoan()">Request now</button>
                         <span class="text-danger mt-3 small">Fields marked with (*) are required</span>
                    </div>

          <div id="loan-app-right-container">
               <p class="h4 mb-4">Resume of your current loan.</p>
                    <!------------- Resume ------------->
                         <ul id="resume-ul">
                              <li>Loan type: <span class="purple_italic">{{loanIdFormat(loan_selected)}}</span></li>
                              <li>Payments selected: <span class="purple_italic">{{payment_selected}}</span></li> 
                              <li>Amount requested: <span class="purple_italic">US$ {{amountFormat(amount)}}</span></li> 
                              <li>Account selected: <span class="purple_italic">{{destination_account}}</span></li> 
                              <li>Payments p/month: <span class="purple_italic">${{taxes}}</span></li>
                         </ul>
                    <p class="h4 mb-4">Requeriments</p>
                    <p class="requirements">To get pre-approved for a loan, you'll need five things—proof of assets and income,
                         good credit, employment verification, and other types of documentation your lender may require.</p>
                    <ul>
                         <li class="h6">Proof of Income</li>
                         <p class="requirements">Buyers generally must produce W-2 wage statements from the past two years, recent pay stubs
                         that show income as well as year-to-date income, proof of any additional income such as alimony or bonuses,
                         and the two most recent years' tax returns.</p>

                    <li class="h6">Proof of Assets</li>
                    <p class="requirements">The borrower needs bank statements and investment account statements to prove that they have 
                         funds for the down payment and closing costs, as well as cash reserves.</p>
                    <li class="h6">Good Credit</li>
                    <p class="requirements">Most lenders require a FICO score of 620 or higher to approve a conventional loan, 
                         and some even require that score for a Federal Housing Administration loan.</p>
                         <a  href="#"><p class="h6 loan_link">I want to know more...</p></a>
                    <img src="" class="img-fluid " alt="">
               </div>
          </div>
          </main>
     

     <!-------------------------------------- Footer -------------------------------------->  
     <footer v-if="charging==false" class="footer">
          <!-- Logo Footer -->
          <div class="footer-column-left">
               <p class="h5"><span class="purple_bold">Mind</span>Hub Bank</p>
          </div>
          <!-- Links Footer -->
          <div class="footer-column-center">
                    <a class="footer-links col-12 col-xl-3" href="#">Legal</a>
                    <a class="footer-links col-12 col-xl-3" href="#">Navigators</a>
                    <a class="footer-links col-12 col-xl-3" href="#">Security</a>
                    <a class="footer-links col-12 col-xl-3" href="#">About Us</a>
          </div>
          <!-- Social Footer -->
          <div class="footer-column-right">
               <a class="footer-icons" href="mailto:mindhubbank@gmail.com">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail icon-footer" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                         <rect x="3" y="5" width="18" height="14" rx="2" />
                         <polyline points="3 7 12 13 21 7" />
                    </svg>
               </a>
               <!------------- Btn Facebook ------------->
               <a class="footer-icons" href="https://www.facebook.com/?ref=logo">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook icon-footer" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                         <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                    </svg>
               </a>
               <!------------- Btn Instagram ------------->
               <a class="footer-icons" href="https://www.instagram.com/?hl=es-la">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram icon-footer" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                         <rect x="4" y="4" width="16" height="16" rx="4" />
                         <circle cx="12" cy="12" r="3" />
                         <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                    </svg>
               </a>
               <!------------- Btn Whatsapp ------------->
               <a class="footer-icons" href="https://web.whatsapp.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp icon-footer" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="#a36ac9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                         <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                         <path d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
                    </svg>
               </a>
          </div>
     </footer>
</div>        
          
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> <!--Etiqueta Bootstrap-->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!--Etiqueta Axios-->
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!--Sweet Alert 2-->
     <script src="https://unpkg.com/vue@3"></script> <!--Etiqueta Vue-->
     <script src="./js/loan-application.js"></script> <!--Etiqueta js-->

</body>
</html>